torch==2.1.0
torchaudio==2.1.0
safetensors==0.3.2
sentencepiece>=0.1.97
ninja==1.11.1
tiktoken==0.3.3
ninja
hvac
pynvml
psutil
pika
transformers
bitsandbytes
scipy
transformers-stream-generator
jsonschema
omegaconf
Pillow
einops
protobuf
accelerate
diffusers
timm
openai
sseclient-py
tts
soundfile
llama-cpp-python
compel